<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form - Submit</title>
</head>
<body>
<h2>BMI</h2>
<form action="/bmi" method="post">
    <div>
        <label for="height">身高:</label>
        <input type="text" name="height" id="height">
        <label for="weight">體重:</label>
        <input type="text" name="weight" id="weight">
        <input type="submit">
    </div>
</form>
</body>
</html>
